*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
    font-optical-sizing: auto;
}

.logo{
     
   border: 1px solid #ffffff;
    color: #469165;
    width: 139px;
  

}


header {
    background-color:#ffff;
    padding: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    border: 1PX solid #ffff;
    margin: 0PX auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display:flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    font-size: 16px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
}

.hero{
    background-image: url('../images/hero-bg.png');
    
    width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px;
    gap: 40px;





}

.hero-content h1{
    
  
    margin-bottom: 15px;
   
   
    size: 72px;
   
    
   
    
     


}

.hero-content{
    
    width: 1360px;
    height: 379px;
    gap: 32px  ;
    text-align: center;

}

.hero-content p{
  color: #ffff;
  font-size: 18px;
  text-align: center;
  
    
}
 .hero-content h1{
    color: #30B868;
    text-align: center;

}

 .button{
    
    color: #ffff;
     
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
   background-color: #30B868;
   gap: 20px;
   font-weight: bold;
   

}

.butt{
    
    display: flex ;
    gap: 25px    ;
     justify-content: center;
    
     
     


}
 .butto {
    padding: 12px 16px;
    gap: 16px   ;
    background-color: #469165;
    color: #fff;

 }
 .but{
    border: 1px ;
    padding: 12px 16px;
    gap: 16px;
    color: #fff;
    
    background-color: #474747;
     
 }


 #about{
    padding: 100px 100px 100px 100px;

 }


 #about .about-container{
    width: 1600px;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffff;
    padding: 100px 100px 100px;


 }
 .section-heading{
    width: 1360px;
    height: 152px;
    gap: 16px   ;
    text-align: center;
 }
  .section-heading h1{
    font-size: 48px;
    color: #001900;
   
  }
  .section-heading p{
    font-size: 16px;
    color: #627382;

  }
 .about-info{
    display: flex;
    justify-content: space-around;
    width: 1360px;
    height: 300px;
    border: 1px solid red;
    gap: 24px;
   }

 
.about-info h3{
    font-size: 24px;
    color: #001931;
}
.about-info p{
    font-size: 16px;
    color: #627382;
}
     
 


    




   







    