*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
    font-optical-sizing: auto;
}

.logo{
     
   border: 1px solid #ffffff;
    color: #469165;
    width: 139px;
  

}






header {
    background-color:#ffff;
    padding: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    border: 1PX solid #ffff;
    margin: 0PX auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display:flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    font-size: 16px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
}