*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
    font-optical-sizing: auto;
}

.logo{
     
   border: 1px solid #ffffff;
    color: #469165;
    width: 139px;
  

}


header {
    background-color:#ffff;
    padding: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    border: 1PX solid #ffff;
    margin: 0PX auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display:flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    font-size: 16px;
    color: #474747;
    text-decoration: none;
}
.btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
}

.hero{
    background-image: url('../images/hero-bg.png');
    border: 2px solid red;
    width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px;
    gap: 40px;





}

.hero-content h1{
    
  
    margin-bottom: 15px;
    weight: 700px;
   
    size: 72px;
    line height: 84px;
     spacing:o%;
    color: #ffff;
     align-items: center;
     


}
.hero-content{
    border: 1px solid red;
    width: 1360px;
    height: 379px;
    gap: 32px  ;

}

.hero-content p{
  color: #ffff;
  font-size: 18px;
  text-align: center;
  border: 1px solid red;
    
}
 .hero-content h1{
    color: #30B868;
    text-align: center;

}

 .button{
    display: ;
    color: #ffff;
     border:1px solid red;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
   background-color: #30B868;
   gap: 20px;
   font-weight: bold;
   

}



  

    
 }

     
 


    




   







    